<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{|${rootUrl}/css/bootstrap.min.css|}">
    <!-- sbb CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{|${rootUrl}/css/style.css|}">
    <title>Hello, sbb!</title>
</head>
<body>
<!-- 기본 템플릿 안에 삽입될 내용 Start -->
<div class="container my-3">
    <h2 class="border-bottom py-2">임시 비밀번호</h2>
    <div class="mb-3" th:text="${pwd}"></div>
</div>
<!-- 기본 템플릿 안에 삽입될 내용 End -->
<!-- Bootstrap JS -->
<script th:src="@{|${rootUrl}/js/bootstrap.min.js|}"></script>
</body>
</html>
